@charset "ISO-8859-1";

html, body{
  height: 100%;
}
* {
	box-sizing: border-box;
}

@media only screen and (min-width: 230px) {
	body {
		background-image: url(https://media.cntraveler.com/photos/5807d1846f39a9b41381a267/master/pass/transylvania-04-cr-mihailonaca.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.button {
		width: 25%;
		border: 10px;
		padding: 5px;
		font-family: sans-serif;
		text-align: center;
		text-decoration: none;
		display: block;
		font-size: 2em;
		cursor: pointer;
		opacity: 0.25;
		box-radius: 5px;
	}
	a:link, a:visited {
		background-color: #808000;
		color: white;
		text-decoration: none;
		text-align: center;
	}
}