@CHARSET "ISO-8859-1";

* {
	box-sizing: border-box;
}

@media only screen and (min-width: 230px) {
	body {
		background-image: url(http://azimuttours.com/public/photos/tours/DSC_0121.JPG);
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;	
	}
	caption {
		font-color: black;
		font-size: 2.5em;
		font-family: sans-serif;
		background-color: green;
		opacity: 0.80;
		padding-top: 1%;
	}
	thead {
		background-color: #008040;
		opacity: 0.90;
		filter: alpha(opacity = 90);
	}
	div {
		font-family: sans-serif;
	}
	table {
		border-collapse: collapse;
		border-spacing: 5;
		width: 100%;
		border: 1px solid #ddd;
	}
	a {
		padding: 10px 24px;
		font-family: sans-serif;
		font-weight: bolder;
		font-style: italic;
		border: background;
	}
	th, td {
		font-family: sans-serif;
		text-align: left;
		padding: 1%;
	}
	tr {
		background-color: #808080;
		opacity: 0.90;
		filter: alpha(opacity = 90);
		font-weight: bolder;
	}
	tr:nth-child(even) {
		background-color: #f2f2f2;
		opacity: 0.84;
		filter: alpha(opacity = 84);
	}
	.message {
		display: none;
	}
	.button {
		-webkit-transition-duration: 0.8s;
		transition-duration: 0.8s;
		cursor: pointer;
		background-color: white;
		color: black;
		border: 5px solid #4CAF50;
	}
	.button1 {
		background-color: white;
		color: black;
		border: 2px solid #4CAF50;
	}
	.button1:hover {
		background-color: #4CAF50;
		color: white;
		cursor: pointer;
	}
	.button2 {
		background-color: white;
		color: black;
		border: 2px solid #4CAF50;
	}
	.button2:hover {
		background-color: #4CAF50;
		color: white;
		cursor: pointer;
	}
	.button3 {
		background-color: white;
		color: black;
		border: 2px solid #4CAF50;
	}
	.button3:hover {
		background-color: #4CAF50;
		color: white;
		cursor: pointer;
	}
	.button4 {
		background-color: white;
		color: black;
		border: 2px solid #4CAF50;
	}
	.button4:hover {
		background-color: #4CAF50;
		color: white;
		cursor: pointer;
	}
	.button5 {
		background-color: white;
		color: black;
		border: 2px solid #4CAF50;
	}
	.button5:hover {
		background-color: #4CAF50;
		color: white;
		cursor: pointer;
	}
	.button6 {
		background-color: white;
		color: black;
		border: 2px solid #4CAF50;
	}
}