@CHARSET "ISO-8859-1";

form {
	background-color: lightgrey;
	width: 175px;
	border: 10px solid green;
	padding: 25px;
	margin: 7%;
	opacity: 0.62;
}

.label {
	display: block;
	float: none;
}

@media only screen and (min-width: 230px) {
	body {
		background-image: url(http://transylvania-holidays.co.uk/sites/default/files/tour/list/DSC_7163.JPG);
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		
	}
	.button {
		width: 25%;
		border: 10px;
		padding: 5px;
		text-align: center;
		text-decoration: none;
		display: block;
		font-size: 2.5em;
		cursor: pointer;
		opacity: 0.25;
		box-radius: 5px;
	}
	.message {
		display: none;
	}
	
}